/* CSS For Body */

body {
  background-image: linear-gradient(green, blue, red);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CSS For Main Header */

.main__header {
    text-align: center;
    color: tomato;
    padding-top: 20px;
}

/* CSS For Text Block Lenght */

#input__field {
    width: 500px;
    font-size: 1.5em;
    font-style: italic
    font-align: center;
    text-align: center;
    border: 3px solid rgb(32, 218, 15);
    border-radius: 0;
}

/* CSS For Text Block and Button Wrapping */

.wrapper {
    display: flex;
    justify-content: center;
  }

  .wrapper__buttons {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  /* CSS For Placeholder Text */

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: pink;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: pink;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: pink;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: pink;
  }


/*
#textInput {
    margin-left: 25%;
}

#buttonsDiv {
    padding-top: 1em;
}

#textOutput {
    background-color: white;
    margin-top: 1em;
    border: 2px black solid;
} */